.faqSecMain {
  background-color: #f3ecec88;
  padding: 20px 10px;
}

.Faq {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Faq .faqq {
  width: 80%;
  display: flex;
  background-color: white;
  align-items: center;
  padding: 2vmax;
  justify-content: center;
  flex-direction: column;
  box-shadow: 2px 2px 5px 2px rgba(255, 224, 224, 0.555);
}

.Faq .faqq h5 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: rgb(0, 84, 153);
}

.Faq .faqq .f-btm {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Faq .faqq .f-btm .line {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 2vmax;
  border-bottom: 1px solid #0000003b;
}

.Faq .faqq .f-btm .line .one {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  cursor: pointer;
  padding: 1vmax;
  transition: background-color 3s ease;
}


.Faq .faqq .f-btm .line .one p {
  font-weight: 600;
}

.Faq .faqq .f-btm .line .one i {
  font-size: 1.7vmax;
  cursor: pointer;
  transition: transform 1s ease;
}

.Faq .faqq .f-btm .line .one i.rotate {
  transform: rotate(180deg);
}

.Faq .faqq .f-btm .line .two {
  width: 100%;
  opacity: 0;
  transform: translateY(-10px);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
}

.Faq .faqq .f-btm .line .two.show {
  max-height: 500px;
  opacity: 1;
  transform: translateY(0);
  padding: 1vmax 0;
}



@media (max-width: 600px) {
  .Faq .faqq {
    width: 95%;
  }

  .Faq .faqq h5 {
    font-size: 3.6vmax;
  }

  .Faq .faqq .f-top {
    margin-top: 4vmax;
  }

  .Faq .faqq .f-top i {
    width: 8%;
    font-size: 3vmax;
  }

  .Faq .faqq .f-top input {
    width: 92%;
    padding: 2vmax 1vmax;
  }

  .Faq .faqq .f-btm {
    margin-top: 1.3vmax;
  }

  .Faq .faqq .f-btm .line {
    margin-top: 3vmax;
  }

  .Faq .faqq .f-btm .line .one i {
    font-size: 2.6vmax;
  }
}

@media (min-width: 600px) and (max-width: 1250px) {
  .Faq .faqq {
    width: 95%;
  }

  .Faq .faqq h5 {
    font-size: 3.6vmax;
  }

  .Faq .faqq .f-top {
    margin-top: 4vmax;
  }

  .Faq .faqq .f-top i {
    width: 8%;
    font-size: 3vmax;
  }

  .Faq .faqq .f-top input {
    width: 92%;
    padding: 2vmax 1vmax;
  }

  .Faq .faqq .f-btm {
    margin-top: 1.3vmax;
  }

  .Faq .faqq .f-btm .line {
    margin-top: 3vmax;
  }

  .Faq .faqq .f-btm .line .one i {
    font-size: 2.6vmax;
  }
}